<% extend('layout/layout',{title:'edit'}) %><%- include ('partials/nav') %>

<div class="container-fluid">
  <div class="col-11 col-md-4 mb-3" ">
    <div class="pt-4 mdl-color--grey-100">
 <div class="card ">
   <div class="card-header">
    <select name="" id="machine" class="form-control custom-select"></select>
   </div>
   <div class="list-scroll">
   <div class="card-body ">
    <form id="form">
      <div id="input">
      
      </div>
      <button id="button" class="btn btn-danger btn-lg center">
        Aceptar
      </button>
    </form>

   </div>
  </div>
 </div>
</div>
</div>
</div>
<script src="/edit.js"></script>
