<% extend('layout/layout',{title:'edit'}) %><%- include ('partials/nav') %>
<h1>hello</h1>
<select name="" id="machine" class="form-control custom-select"></select>
<form action="" id="form">
  <div id="input">
    <input type="text" id="id" />
  </div>
  <button id="button" class="btn btn-danger"></button>
</form>
<script src="/edit.js"></script>
