<%- extend ('layout/layout',{title: 'error'}) %> <%- include ('partials/nav')%>
<h1>heññp</h1>
<script>
    window.onload = ()=>{
        document.querySelector("#load").classList.add("d-none")

  document.querySelector("#scroll").classList.remove("scroll")
    }
</script>