<% extend('layout/layout') %><%- include ('partials/navbarindex') %> <%- include
('auth/signin') %> <%- include ('partials/mensaje')%>
<div class="container-fluid py-2">
  <div class="text-center">
    <h1>nuevo sistema</h1>
  </div>
</div>
<script>
  window.onload=()=>{
    document.querySelector("#load").classList.add("d-none")

  document.querySelector("#scroll").classList.remove("scroll")
  }
</script>