<% extend ('layout/layout')%> <%- include ('partials/nav')%>
<h1 class="text-center p-3">Proveedores</h1>
<div id="loader" class="d-none">
  <div class="container p-4">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div
          class="alert alert-success alert-dismissible fade show text-center"
          role="alert"
        >
          cargando
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('partials/mensaje')%>
<div class="container"></div>


<!-- Central Modal Small -->
<div
  class="modal fade"
  id="centralModalSm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-sm" role="document">
    <form id="formProveedores">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100" id="myModalLabel">
            Registro de Proveedor
          </h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="notificacionAdd" class="alert alert-info p-2 d-none">
            Proveedor agregado con exito
            <button id="notificacionRemove" class="close">
              <span id="notificacionRemove" aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- body  -->

          <div>
            <input
              type="text"
              id="nombre"
              class="form-control mb-4"
              placeholder="Nombre"
            />
          </div>
          <div>
            <input
              type="text"
              id="correo"
              class="form-control mb-4"
              placeholder="Correo Electronico"
            />
          </div>
          <div>
            <input
              type="text"
              id="telefono"
              class="form-control mb-4"
              placeholder="telefono"
            />
          </div>
          <!-- body -->
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            id="SaveProveedor"
            class="btn btn-primary btn-sm"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Central Modal Small -->

<!-- tabla -->
<div class="p-4"></div>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-11 col-md-4 mb-3">
      <div id="listProveedores" class="list-scroll card p-3"></div>
    </div>
    <div class="col-11 col-md-4 mb-3">
      <div class="list-scroll card p-3" id="listProductos"></div>
    </div>
    <div class="col-11 col-md-4 mb-3">
      <div class="list-scroll card p-3" id="listProductosTotal"></div>
    </div>
  </div>
</div>
<!-- tabla -->
<div class="caja primary-color">
  <i class="fas fa-plus" data-toggle="modal" data-target="#centralModalSm"></i>
</div>
<script src="/proveedores.js"></script>
