<%- extend ('layout/layout', {title:'Testing'}) %> <%- include ('partials/nav')%>
<!-- <h1>test</h1>
<button id="btnTest">Testing request</button>
<div id="prueba"></div> -->

<div id="load" class="loading-box">
    <div class="loading-animate">
        <div class="body"></div>
    </div>
</div>



<script src="/prueba.js"></script>
<script src="/proveedores.js"></script>

<script>
    window.onload = () => {

        document.querySelector("#load").classList.add("d-none")
    }
</script>
