@keyframes load {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
.parent {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.child {
  position: relative;
  float: left;
  height: 100%;
  width: calc(100% + 20px);
  overflow-y: auto;
}
body {
  height: 100vh;
}

.hv-100 {
  height: 100vh;
}
.textSelected {
  user-select: none;
}
.w-45 {
  width: 45%;
}
.font-small {
  font-size: 0.74rem;
}

.form-control {
  border-width: 1.5px;
  border-radius: 0.75rem;
  border-color: #bdbcbc;
}

.form-control:hover {
  box-shadow: 2px 2px 0.75rem -2px rgba(0, 0, 0, 0.308);
  border-color: #bdbcbc;
}
.form-control:focus {
  box-shadow: 2px 2px 0.75rem -2px rgba(0, 0, 0, 0.308);
  border-color: #bdbcbc;
}
.btn {
  border-radius: 1rem;
}

/* .modal .modal-full-height {
  top: 56px;
} */
.show {
  display: block;
  padding-left: 0px;
}

.modals {
  margin: 0px;
}
/* .columna {
  width: 80%;
} */

.card {
  position: relative;
}

.card__icon--top {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -0.75rem;
  left: -0.75rem;
  color: #fff;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.card__icon--list {
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.ajuste {
  position: relative;
}
.contenedor {
  position: sticky;
}

.caja {
  width: 50px;
  height: 50px;
  right: 1rem;
  position: fixed;
  bottom: 0.5rem;
  display: inline-block;

  color: white;
  border-radius: 2.5rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 100;
  display: flex;
}
.caja-superior {
  width: 50px;
  height: 50px;
  right: 1rem;
  position: fixed;
  bottom: 4.5rem;
  display: inline-block;

  color: white;
  border-radius: 2.5rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 100;
  display: flex;
}
.boton-circular {
  width: 35px;
  height: 35px;
  position: relative;

  color: #fff;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  margin: 5px;
}
.boton-tipo {
  width: 40px;
  height: 40px;
  position: relative;
  /* right: 1rem; */
  /* top: 0.25rem; */
  /* left: 0rem; */
  color: #000000;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 0px;
}
.margin {
  margin: 5px;
}

.list-scroll {
  height: 70vh;
  overflow-y: auto;
}
.list-scroll2 {
  height: 60vh;
  overflow-y: auto;
}

.c-hand {
  cursor: pointer;

  transition: all 0.5s ease;
}
.c-hand:hover {
  opacity: 0.8;
}
.c-hand:active {
  transform: scale(0.95);
  opacity: 0.9;
}
.alertNav {
  width: 200px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -25px;
  position: absolute;
}
.back {
  background: #000000;
  position: absolute;

  top: 0px;

  left: 0px;

  width: 100%;

  height: 150%;
  filter: alpha(opacity=50);

  opacity: 0.5;
}
.editAlert {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
}
.button-machine {
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 2.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  margin: 10px;
  display: inline-flex;
}

.loading-box {
  width: 100%;
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  z-index: 1200;
}
.loading-animate {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -2.5rem;
  margin-top: -2.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 5px solid;
  border-color: #960200 #960200 transparent;
  animation: load 0.7s linear infinite;
}

.div-p-5 {
  width: 100%;
  height: 6em;
}
.div-p-4 {
  width: 100%;
  height: 4em;
  z-index: 0;
}
.scroll {
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  .list-scroll {
    height: calc(80vh / 3);
  }
}
.p-left {
  left: 1em;
}
.h3{
  max-width: 97%;
}
